/* reset */
html,body,#wrap{height: 100%;}
body{width: 100%;font-size: 12px; background: #f0f0f0; }
ul,ol{list-style-type: none;}
body,ul,ol,h1,h2,h3,h4,h5,h6,dl,dd,form,p{margin: 0px; padding: 0px; font-family: "Microsoft YaHei";}
h1{display: none;}
img{display: block;width: 100%; }
i,em{ font-weight: normal; font-style: normal;}
a{text-decoration: none;}
.none{display: none;}
.tl{text-align: left;}
.tc{text-align: center;}
.fl{float: left;}
.fr{float: right;}
.bc{margin-left: auto;margin-right: auto}
.pr{position: relative;}
.pa{position: absolute;}
.ovh{overflow: hidden;}
.ht{display: block;overflow: hidden;text-indent: -999em;}
.clearfix:after,.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}
#wrap{ display: none; width: 320px; height: 100%;}

/*loading*/
.loading{ width: 100%; height: 100%; top: 0; left: 0; background: url(../res/loading-bg.jpg) #09090e; background-repeat: no-repeat; background-size: 100%; z-index: 99; overflow: hidden;}
.loading .img-box{ width: 25%; margin: 55% auto 5%;}
.loading .img-box img:nth-child(1){ -webkit-animation: rotaY 1.6s linear infinite;}
.loading .img-box img:nth-child(2){ position: absolute; top: 0; left: 0; opacity: 0; -webkit-animation: rotaY 1.6s 0.8s linear infinite;}
.loading .txt{ width: 32%; margin: 0 auto; overflow: hidden;}

/*公共样式*/
.event{ position: relative; width: 320px; height: 100%; overflow: hidden;}
.sp{ background: url(../res/sprites.png) no-repeat; background-size: 320px;}
.txt-spark{ width: 120%; height: 160%; top: -40%; left: -10%; background: url(../res/spark.png) no-repeat center center; background-size: 100%; opacity: 0;}

/*火花*/
.spark{ width: 320px; height: 100%; top: 0; left: 0; background: url(../res/xl-3.png) no-repeat; background-size: 3840px; z-index: 99; -webkit-animation:xlAni3 1.2s steps(11) infinite; pointer-events: none; opacity: 0.7;}

/*音乐按钮*/
.music-btn{ width: 22px; height: 22px; top: 15px; right: 15px; z-index: 88; background-position: -250px 0;}
.music-btn.music-play{ background-position: -220px 0; -webkit-animation:shareAni2 20s 0s linear infinite;}

/*event-1*/
.event-1{ background: url(../res/bg1.jpg) no-repeat; background-size: 100%}
.event-1 .logo{ width: 116.5px; height: 61px; top: 87px; left: 50%; margin-left: -58px; background: url(../res/logo.png) no-repeat; background-size: 100%; z-index: 11; opacity: 0;}
.event-1.current .logo.play{ -webkit-animation:fadeInBig 0.5s .7s ease both;}
.event-1.current .logo.end{ -webkit-transform-origin:top center; -webkit-animation:logoAni 3.2s 0s ease both;}
.event-1 .tear-box{ width: 320px; height: 217.5px; top: 158px; left: 0; background: url(../res/xl-1.jpg) no-repeat; background-size: 4480px; z-index: 1;}
.event-1.current .tear-box.play{ -webkit-animation:xlAni1 0.4s steps(13) both;}
.event-1 .tip-txt{ width: 100%; top: 180px; left: 0; font-size: 10px; color: #fff; text-align: center; line-height: 10px; text-shadow: 0 3px 2px rgba(0,0,0,0.7); z-index: 3;}
.event-1 .tip-txt span{ display: block; position: absolute; top: 1px; width: 0; height: 0; border-top: 4px solid transparent; border-left: 6px solid #fff; border-bottom: 4px solid transparent; box-shadow: 0 3px 2px rgba(0,0,0,0.7)}
.event-1 .tip-txt span:nth-child(1){ left: 215px;}
.event-1 .tip-txt span:nth-child(2){ left: 223px;}
.event-1 .tip-txt span:nth-child(3){ left: 231px;}
.event-1 .tip-img-box{ width: 125px; height: 127.5px; top: 158px; right: 0; z-index: 2;}
.event-1 .tip-img{ width: 127px; height: 127.5px; top: 0px; right: 0; background: url(../res/xl-2.jpg) no-repeat; background-size: 3302px;}
.event-1.current .tip-img{ -webkit-animation:xlAni2 2.2s steps(25) infinite;}
.event-1 .tip-round{ width: 60px; height: 60px; top: 160px; right: 0;  z-index: 4;}
.event-1 .tip-round p{ width: 25px; height: 25px; top: 20px; right: 20px; border: 1px solid #fff; border-radius: 50%; opacity: 0.5;}
.event-1.current .tip-round p{ -webkit-animation:pulse 0.8s ease-in-out alternate infinite;}
.event-1 .tip-round span{ width: 18px; height: 18px; top: 50%; left: 50%; margin: -9px 0 0 -9px; background: #fff; border-radius: 50%;}
.event-1 .txt{ width: 191.5px; height: 75.5px; top: 313px; left: 50%; margin-left: -93.5px; z-index: 2; opacity: 0;}
.event-1.current .txt.play{ -webkit-animation:fadeInBig 0.5s 0.6s ease both;}
.event-1 .txt .dark{ z-index: 1;}
.event-1 .txt .light{ opacity: 1; width: 10%; height: 100%; top: 0; left: 0px; z-index: 2; overflow: hidden;}
.event-1 .txt .light img{ position: absolute; width: 191.5px; height: 75.5px; top: 0; left: 0px;}
.event-1.current .txt.play .light{ -webkit-animation: shine1 0.6s 1.4s linear both;}
.event-1.current .txt.play .light img{ -webkit-animation: shine2 0.6s 1.4s linear both;}
.event-1 .finger{ display: none; width: 67.5px; height: 67.5px; top: 400px; left: 50%; margin-left: -34px; -webkit-user-select: none;}
.event-1.current .finger.play{ -webkit-animation: fadeIn 0.6s 2.0s ease-in-out both;}
.event-1 .finger .dark{ z-index: 1;}
.event-1 .finger .light{ opacity: 1; width: 100%; height: 15%; top: 0; left: 0; z-index: 2; overflow: hidden;}
.event-1.current .finger .light{ -webkit-animation: shine3 1.2s 0.2s linear infinite;}
.event-1 .finger .light img{ position: absolute; width: 67.5px; height: 67.5px; top: 0; left: 0;}
.event-1.current .finger .light img{ -webkit-animation: shine4 1.2s 0.2s linear infinite;}
.event-1 .finger .mask{ width: 100%; height: 100%; top: 0; left: 0; z-index: 3;}
.event-1 .finger .explan{ width: 320px; height: 20px; bottom: -20px; left: 50%; margin-left: -160px; font-size: 14px; color: #fff; text-align: center; line-height: 20px; text-shadow: 2px 2px 2px rgba(0,0,0,0.7);}
.event-1 .dialogue-box{ display: none; width: 100%; height: 100%; top: 0; left: 0; z-index: 19;}
.event-1 .ani{ display: none; width: 320px; height: 100%; top: 0; left: 0; background: url(../res/xl-4.jpg) no-repeat; background-size: 3840px; z-index: 9;}
.event-1.current .ani.play{ display: block; -webkit-animation:xlAni3 0.6s 2.2s steps(11) both;}
.event-1 .dialogue-box .cont{ width: 320px; height: 100%; z-index: 2; background: url(../res/bg1-2.jpg) no-repeat; background-size: 320px;}
.event-1 .dialogue-box .dia{ display: none; width: 215px; left: 21px; background: url(../res/p1-txt.png) no-repeat; background-size: 215px;}
.event-1 .dialogue-box .dia-1{ height: 32px; top: 96px;}
.event-1 .dialogue-box .dia-2{ height: 26px; top: 132px; background-position: 0 -36px;}
.event-1 .dialogue-box .dia-3{ height: 24px; top: 85px; background-position: 0 -66px;}
.event-1 .dialogue-box .dia-4{ height: 23px; top: 109px; background-position: 0 -90px;}
.event-1 .dialogue-box .dia-5{ height: 27px; top: 132px; background-position: 0 -113px;}
.event-1 .dialogue-box .dia-6{ height: 23px; top: 159px; background-position: 0 -140px;}
.event-1 .dialogue-box .dia-7{ height: 45px; top: 182px; background-position: 0 -163px;}
.event-1 .dialogue-box .batman{ width: 210px; height: 435px; top: 135px; right: 0; background: url(../res/batman.png) no-repeat; background-size: 100%;}
.event-1 .dialogue-box .gj-wrap{ width: 130px; height: 215px; top: 260px; left: 29px; -webkit-transform: scale(0.85); -webkit-transform-origin: center top;}
.event-1 .dialogue-box .gj-box{ display: none; width: 130px; height: 215px; background: url(../res/gj-bg.png) no-repeat; background-size: 100%;}
.event-1 .dialogue-box .gj-box span{ width: 9px; height: 9px; top: 0; right: 47%; border: 1px solid #98b0ff; border-radius: 50%;}
.event-1 .dialogue-box .dia-box{ width: 80px; height: 16px; top: 169px; left: 31px; overflow: hidden;}
.event-1 .dialogue-box .dia-8{ width: 80px; height: 16px; top: 0px; left: 0px; background-position: 0 -210px;}
.event-1.current .dialogue-box.play{ display: block; -webkit-animation: fadeIn 0.6s 0.1s ease-in-out both;}
.event-1 .dialogue-box.play .batman{ -webkit-animation:fadeInRightBig 1.2s 0s ease both;}
.event-1.current .dialogue-box.play .dia-1{ display: block; -webkit-animation:fadeInScale 0.2s 2s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
 .event-1.current .dialogue-box.play .dia-1 .txt-spark{; -webkit-animation: fadeOutScale 0.5s 2.2s ease-in both;}
.event-1.current .dialogue-box.play .dia-2{ display: block; -webkit-animation:fadeInScale 0.2s 2.4s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
 .event-1.current .dialogue-box.play .dia-2 .txt-spark{ -webkit-animation: fadeOutScale 0.5s 2.6s ease-in both;}
.event-1.current .dialogue-box.play.end .dia-1{ -webkit-animation:fadeOut 0.6s 0s ease-in both;}
.event-1.current .dialogue-box.play.end .dia-2{ -webkit-animation:fadeOut 0.6s 0s ease-in both;}
.event-1.current .dialogue-box.end .dia-3{ display: block; -webkit-animation:fadeInScale 0.2s 0.6s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
.event-1.current .dialogue-box.end .dia-3 .txt-spark{ -webkit-animation: fadeOutScale 0.5s 0.8s ease-in both;}
.event-1.current .dialogue-box.end .dia-4{ display: block; -webkit-animation:fadeInScale 0.2s 1.0s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
.event-1.current .dialogue-box.end .dia-4 .txt-spark{ -webkit-animation: fadeOutScale 0.5s 1.2s ease-in both;}
.event-1.current .dialogue-box.end .dia-5{ display: block; -webkit-animation:fadeInScale 0.2s 1.4s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
.event-1.current .dialogue-box.end .dia-5 .txt-spark{ -webkit-animation: fadeOutScale 0.5s 1.6s ease-in both;}
.event-1.current .dialogue-box.end .dia-6{ display: block; -webkit-animation:fadeInScale 0.2s 1.8s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
.event-1.current .dialogue-box.end .dia-6 .txt-spark{ -webkit-animation: fadeOutScale 0.5s 2.0s ease-in both;}
.event-1.current .dialogue-box.end .dia-7{ display: block; -webkit-animation:fadeInScale 0.2s 2.2s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
.event-1.current .dialogue-box.end .dia-7 .txt-spark{ -webkit-animation: fadeOutScale 0.5s 2.4s ease-in both;}
.event-1.current .dialogue-box.end .gj-box{ display: block; -webkit-animation:fadeInUpBig 1.4s 3s ease both;}
.event-1.current .dialogue-box.end .gj-box span{ -webkit-animation:round 1.2s 4s linear infinite alternate;}
.event-1.current .dialogue-box.end .dia-8{ display: block; -webkit-animation:fadeIn2 1.2s 4.5s steps(4) both;}
.event-1.current .dialogue-box.end .dia-box.show{ -webkit-animation:fadeIn4 1.2s 0.5s ease infinite alternate;}
.event-1 .slider{ display: none; width: 46px; height: 45px; bottom: 20px; left: 50%; margin-left: -23px; z-index: 20; }
.event-1.current .slider{ -webkit-animation:slider 2s 0s ease infinite;}

/*event-2*/
.event-2 .bg{ width: 100%; height: 100%; top: 0; left: 0; z-index: 0; background: url(../res/bg2.jpg) no-repeat; background-size: 100%;}
.event-2.current .bg{ /*-webkit-animation:fadeIn 1.2s 0.2s ease both;*/}
.event-2 .corner{ width: 320px; height: 570px; top: 0; left: 0; z-index: 3; background: url(../res/corner-1.png) no-repeat; background-size: 100%;}
.event-2 .superman{ width: 255px; height: 434px; top: 135.5px; left: 0; z-index: 2; background: url(../res/superman.png) no-repeat; background-size: 100%;}
.event-2 .dia{ width: 185px; left: 130px; background: url(../res/p2-txt.png) no-repeat; background-size: 185px;}
.event-2 .dia-1{ height: 19px; top: 111px;}
.event-2 .dia-2{ height: 30px; top: 130px; background-position: 0 -19px;}
.event-2 .dia-3{ height: 27px; top: 160px; background-position: 0 -49px;}
.event-2.current .superman{ -webkit-animation:fadeInLeftBig 1.2s 0s ease-out both;}
.event-2.current .dia-1{ -webkit-animation:fadeInScale 0.2s 2.2s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
.event-2.current .dia-1 .txt-spark{ -webkit-animation: fadeOutScale 0.5s 2.4s ease-in both;}
.event-2.current .dia-2{ -webkit-animation:fadeInScale 0.2s 2.6s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
.event-2.current .dia-2 .txt-spark{ -webkit-animation: fadeOutScale 0.5s 2.8s ease-in both;}
.event-2.current .dia-3{ -webkit-animation:fadeInScale 0.2s 3.0s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
.event-2.current .dia-3 .txt-spark{ -webkit-animation: fadeOutScale 0.5s 3.2s ease-in both;}
.event-2.end .dia-1{ -webkit-animation:fadeOut 0.8s 0.2s ease-in both;}
.event-2.end .dia-2{ -webkit-animation:fadeOut 0.8s 0.2s ease-in both;}
.event-2.end .dia-3{ -webkit-animation:fadeOut 0.8s 0.2s ease-in both;}
.event-2 .excessive{ width: 100%; height: 100%; top: 0; left: 0; z-index: 5; background: url(../res/xl-5.jpg) no-repeat; background-size: 7040px; opacity: 0; pointer-events: none;}
.event-2.current .excessive.play{ -webkit-animation:xlAni5 2.2s steps(21) both;}
.event-2 .vid-wrap{ display: none; width: 100%; height: 100%; top: 0; left: 0; z-index: 7; background: url(../res/bg2-1.jpg) no-repeat; background-size: 100%; opacity: 0;}
.event-2 .vid-box{ width: 320px; height: 195px; top: 128px; left: 0;}
.event-2 .frame{ width: 320px; height: 195px; top: 0; left: 0; z-index: 9; background: url(../res/vid-bg.png) no-repeat; background-size: 100%;}
.event-2 .vid{ width: 245px; height: 148px; top: 22px; left: 41px;}
.event-2 .vid-1{ z-index: 3; background: url(../res/xl-6.jpg) no-repeat; background-size: 7840px;}
.event-2 .vid-2{ z-index: 2; background: url(../res/xl-7.jpg) no-repeat; background-size: 7840px;}
.event-2 .vid-btn{ display: block; width: 18px; height: 25px; top: 80px; left: 162px; z-index: 11; background-position: -160px -115px; -webkit-transform: scale(1.4);}
.event-2 .vid-btn span{ display: none; width: 8px; height: 8px; top: 7px; left: 2px; border: 1px solid #98b0ff; border-radius: 50%;}
.event-2.current .vid-btn.show span{ display: block; -webkit-animation:pulse2 0.4s 0s ease both;}
.event-2 .vid-logo{ display: none; width: 245px; height: 148px; top: 22px; left: 41px; z-index: 4; background: url(../res/vid-logo.jpg) no-repeat; background-size: 100%;}
.event-2.current .vid-logo.show{ display: block; -webkit-animation:fadeIn3 1s 0.8s ease both;}
.event-2 .dia-4{ height: 38px; top: 344px; left: 77px; background-position: 0 -76px;}
.event-2 .dia-5{ height: 45px; top: 382px; left: 77px; background-position: 0 -114px;}
.event-2.current .vid-wrap.play{ display: block; -webkit-animation:fadeIn 0.6s 0.1s ease both;}
.event-2.current .vid-wrap.play .dia-4{ -webkit-animation:fadeInScale 0.2s 0.4s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
.event-2.current .vid-wrap.play .dia-4 .txt-spark{ -webkit-animation: fadeOutScale 0.5s 0.6s ease-in both;}
.event-2.current .vid-wrap.play .dia-5{ -webkit-animation:fadeInScale 0.2s 0.8s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
.event-2.current .vid-wrap.play .dia-5 .txt-spark{ -webkit-animation: fadeOutScale 0.5s 1.0s ease-in both;}
.event-2.current .vid-wrap.play .vid-1.show{ -webkit-animation:xlAni6 2s 0s steps(31) both;}
.event-2.current .vid-wrap.play .vid-2.show{ -webkit-animation:xlAni7 2s 0s steps(31) both;}
/*.event-2 .vid-wrap.end .dia-4{ -webkit-animation:fadeOutRightBig 3s 0.4s ease-out both;}
.event-2 .vid-wrap.end .dia-5{ -webkit-animation:fadeOutLeftBig 3s 0.4s ease-out both;}*/
.event-2 .slider{ display: none; width: 36px; height: 45px; bottom: 20px; left: 50%; margin-left: -18px; z-index: 20; background-position: -48px 0;}
.event-2.current .slider{ -webkit-animation:slider 2s 0s ease infinite;}

/*event-3*/
.event-3{ background: url(../res/bg3.jpg) no-repeat; background-size: 100%;}
.event-3 .dia{ width: 214px; background: url(../res/p3-txt.png) no-repeat; background-size: 214px;}
.event-3 .dia-1{ height: 23px; top: 71px; left: 60px;}
.event-3 .dia-2{ height: 32px; top: 94px; left: 60px; background-position: 0 -23px;}
.event-3 .dia-3{ width: 143px; height: 14px; top: 411px; left: 50%; margin-left: -72px; background-position: 0 -60px;}
.event-3 .btn{ width: 120px; height: 52px; top: 435px; left: 50%; margin-left: -60px; background-position: -90px 0;}
.event-3.current .dia-1{ -webkit-animation:fadeInScale 0.2s 0.2s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
.event-3.current .dia-1 .txt-spark{ -webkit-animation: fadeOutScale 0.5s 0.4s ease-in both;}
.event-3.current .dia-2{ -webkit-animation:fadeInScale 0.2s 0.6s cubic-bezier(0.55, 0.06, 0.68, 0.19) both;}
.event-3.current .dia-2 .txt-spark{ -webkit-animation: fadeOutScale 0.5s 0.8s ease-in both;}
.event-3.current .dia-3{ -webkit-animation:fadeIn 1.2s 1.4s ease-out both;}
.event-3.current .btn{ -webkit-animation:fadeIn 1.2s 1.6s ease-out both;}

/*event-4*/
.event-4 .state{ width: 100%; height: 100%; top: 0; left: 0;}
.event-4 .state-1{ background: url(../res/bg4.jpg) no-repeat; background-size: 100%;}
.event-4 .ticket-box{ width: 207px; height: 55px; top: 234px; left: 57px;}
.event-4 .ticket{ width: 207px; height: 55px; background: url(../res/p4-txt.png) no-repeat; background-size: 100%; }
.event-4.current .ticket{ -webkit-animation:fadeIn 0.8s 0.3s ease both;}
.event-4 .ticket-15{ background-position: 0 -106px;}
.event-4 .btn-box{ width: 320px; top: 350px; left: 0;}
.event-4 .btn{ width: 137px; height: 58px; margin: 0 auto 12px; }
.event-4.current .btn{ -webkit-animation:fadeIn 1s 0.8s ease both;}
.event-4 .grab{ background-position: 0 -54px;}
.event-4 .share{ background-position: -160px -54px;}
.event-4 .state-2{ background: url(../res/bg4-2.jpg) no-repeat; background-size: 100%;}
.event-4 .prompt-box{ width: 100%; height: 100%; top: 0; left: 0; z-index: 9; background: rgba(0,0,0,0.8);}
.event-4 .prompt{ width: 200px; height: 249px; top: 50%; left: 50%; margin: -125px 0 0 -100px; background: url(../res/prompt-bg.png) no-repeat; background-size: 100%; -webkit-animation:pulse3 0.6s ease both;}
.event-4 .prompt .close{ width: 20px; height: 20px; top: 0; right: 8px;}

/*弹窗*/
.pop-wrap{ display: none; width: 100%; height: 100%; top: 0; left: 0; z-index: 100; background: rgba(0,0,0,0.7);}
.pop{ position: fixed; width: 320px; height: 213px; top: 50%; left: 50%; margin: -107px 0 0 -160px; background: url(../res/pop-bg.png) no-repeat; background-size: 100%; -webkit-animation:pulse3 0.6s ease both;}
.pop .close{ width: 24px; height: 20px; top: 0; right: 17px;}
.pop-cont{ padding: 73.5px 0 0 46.5px;}
.pop-wrap .EasyLogin_row{ height: 21px; margin-bottom: 15.5px;}
.pop-wrap .EasyLogin_row input{ width: 148px; height: 19px; margin-right: 11px; padding: 0 4px; background: none; border: 1px solid #98b0ff; font-size: 10px; color: #f9fbfe; line-height: 21px;}
::-webkit-input-placeholder{ color: #f9fbfe;}
.pop-wrap .EasyLogin_row a.J_send{ display: inline-block; width: 62px; height: 19px; background: #7586c0; border: 1px solid #98b0ff; font-size: 10px; color: #fff; text-align: center; line-height: 19px;}
.pop-wrap .login-button{ display: block; width: 112px; height: 31px; margin-left: 60px; text-indent: -9999em; overflow: hidden;}

/*分享指引*/
.share-wrap{ display: none; width: 100%; height: 100%; top: 0; left: 0; z-index: 102; background: rgba(0,0,0,0.7);}
.share-txt{ width: 134px; height: 42px; top: 75px; right: 46px; background-position: 0 -114px; -webkit-animation:fadeIn 1.2s 0.6s ease both;}
.share-ani{ width: 38px; height: 49px; top: 19px; right: 22px; -webkit-animation:shareAni 0.4s 0.2s ease-out both;}
.share-ani .ani{ width: 38px; height: 49px; background-position: -280px 0; -webkit-animation:shareAni2 0.4s 0.2s linear both;}

/* 旋屏提示 */
.mask-box{width:100%; height:100%; background:#32373b;position: fixed;left:0;top: 0;z-index:9999;display:none; overflow: hidden;}
.mask-box span{font-size: 12px;display:block;color:#ffd40a; text-align:center;width: 100%;height: 25px;padding-top: 10px;}
.mask-pic{width: 64px;height: 97px;background: url(../res/screen-tips.png) 0 0 no-repeat; background-size: 100%;display: block;margin: 20px auto 0;-webkit-animation: maskAni 1.5s ease infinite alternate;}
@-webkit-keyframes maskAni{
    0% {-webkit-transform:rotate(-90deg);}
    30% {-webkit-transform:rotate(-90deg);}
    70%{-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(0deg);}
}
@media screen and (min-aspect-ratio: 13/9) {
    #mask-box{display: block;}
}

/* iphone4s 416 */
@media screen and (max-height: 416px) {
    .event{ margin-top: -50px; padding-bottom: 50px;}
    .slider{ bottom: 0;}
    .event-3 .dia-3{ top: 396px;}
    .event-3 .btn{ top: 414px;}
    .event-4 .btn-box{ top: 330px;}
    .event-1 .finger .explan{ bottom: 25px; margin-left: -65px;}
}

@-webkit-keyframes rotaY{
    0%{opacity: 1;-webkit-transform:rotateY(0deg);}
    33.3333333333%{opacity: 0;}
    66.6666666666%{opacity: 0;}
    100%{opacity: 1;-webkit-transform:rotateY(360deg);}
}

@-webkit-keyframes xlAni1{
    0%{background-position: 0 0;}
    100%{background-position: -4160px 0;}
}

@-webkit-keyframes xlAni2{
    0%{background-position: 0 0;}
    100%{background-position: -3175px 0;}
}

@-webkit-keyframes xlAni3{
    0%{background-position: 0 0;}
    100%{background-position: -3520px 0;}
}

@-webkit-keyframes xlAni4{
    0%{background-position: 0 0;}
    100%{background-position: -3520px 0;}
}

@-webkit-keyframes xlAni5{
    0%{ opacity: 0; background-position: 0 0;}
    20%{ opacity: 1;}
    100%{ opacity: 1; background-position: -6720px 0;}
}

@-webkit-keyframes xlAni6{
    0%{background-position: 0 0;}
    100%{background-position: -7595px 0;}
}

@-webkit-keyframes xlAni7{
    0%{background-position: 0 0;}
    100%{background-position: -7595px 0;}
}

@-webkit-keyframes shine1{
    0%{ left: -20px}
    100%{ left: 191.5px;}
}

@-webkit-keyframes shine2{
    0%{ left: 20px}
    100%{ left: -191.5px;}
}

@-webkit-keyframes shine3{
    0%{ top: -20px}
    100%{ top: 67.5px;}
}

@-webkit-keyframes shine4{
    0%{ top: 20px}
    100%{ top: -67.5px;}
}

@-webkit-keyframes pulse{
	0%{-webkit-transform:scale(1)}
	100%{-webkit-transform:scale(1.2)}
}

@-webkit-keyframes pulse2{
    0%{width: 8px; height: 8px; top: 7px; left: 2px; opacity: 1;}
    100%{width: 30px; height: 30px; top: -4px; left: -10px; opacity: 0;}
}

@-webkit-keyframes pulse3{
    0%{ opacity: 0; -webkit-transform:scale(0.6)}
    100%{ opacity: 1; -webkit-transform:scale(1)}
}

@-webkit-keyframes round{
    0%{ right: 47%;}
    100%{ right: 0%;}
}

@-webkit-keyframes fadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}

@-webkit-keyframes fadeIn3{
    0%{opacity:0;}
    80%{opacity: 0.3}
    100%{opacity:1;}
}

@-webkit-keyframes fadeIn2{
    0%{width: 0%;}
    100%{width: 100%;}
}

@-webkit-keyframes fadeIn4{
    0%{opacity:1;}
    100%{opacity:0.4;}
}

@-webkit-keyframes fadeOut{
	0%{opacity:1;}
	100%{opacity:0;}
}

@-webkit-keyframes fadeInBig{
	0%{opacity:0;-webkit-transform:translateY(200px) scale(10);}
	100%{opacity:1;-webkit-transform:translateY(0) scale(1);}
}

@-webkit-keyframes fadeInLeftBig{
    0%{opacity:0;-webkit-transform:translateX(-100px)}
    100%{opacity:1;-webkit-transform:translateX(0)}
}

@-webkit-keyframes fadeInRightBig{
    0%{opacity:0;-webkit-transform:translateX(100px)}
    100%{opacity:1;-webkit-transform:translateX(0)}
}

@-webkit-keyframes fadeInUpBig{
    0%{opacity:0;-webkit-transform:translateY(100px)}
    100%{opacity:1;-webkit-transform:translateY(0)}
}

@-webkit-keyframes fadeOutLeftBig{
    0%{opacity:1;-webkit-transform:translateX(0)}
    100%{opacity:0;-webkit-transform:translateX(-100px)}
}

@-webkit-keyframes fadeOutRightBig{
    0%{opacity:1;-webkit-transform:translateX(0)}
    100%{opacity:0;-webkit-transform:translateX(100px)}
}

@-webkit-keyframes logoAni{
	20%{ -webkit-transform:rotate(55deg)}
	25%{ -webkit-transform:rotate(40deg)}
	35%{ -webkit-transform:rotate(53deg)}
	45%{ -webkit-transform:rotate(42deg)}
	55%{ -webkit-transform:rotate(50deg)}
	65%{ opacity: 1; -webkit-transform:translateY(0px) rotate(45deg)}
	100%{ opacity: 0; -webkit-transform:translateY(500px) rotate(45deg);}
}

@-webkit-keyframes slider{
    0%{ opacity: 1; -webkit-transform:translateY(0px);}
    100%{ opacity: 0; -webkit-transform:translateY(-10px);}
}

@-webkit-keyframes shareAni{
    0%{ -webkit-transform:translate(-320px,350px) scale(2);}
    100%{ -webkit-transform:translate(0px,0px) scale(1);}
}

@-webkit-keyframes shareAni2{
    0%{ -webkit-transform:rotate(0deg)}
    20%{ -webkit-transform:rotate(360deg)}
    40%{ -webkit-transform:rotate(720deg)}
    60%{ -webkit-transform:rotate(1080deg)}
    80%{ -webkit-transform:rotate(1440deg)}
    100%{ -webkit-transform:rotate(1800deg)}
}

@-webkit-keyframes fadeInScale{
	0%{opacity:0;-webkit-transform: translateY(0px) scale(4);}
	86%{opacity:1;-webkit-transform: translateY(0px) scale(1);}
	93%{opacity:1;-webkit-transform: translateY(-5px) scale(1);}
	100%{opacity:1;-webkit-transform: translateY(0px) scale(1);}
}

@-webkit-keyframes fadeOutScale{
	0%{opacity:0;-webkit-transform: scale(1);}
	1%{opacity:1;-webkit-transform: scale(1);}
	100%{opacity:0;-webkit-transform: scale(1.4);}
}